@charset "UTF-8";

/* Typical Device Breakpoints 

Pequenas telas: até 600px
Celular: de 600px 768px
Tablet: 769 até 992px
Desktop: 993px até 1200px

Grandes Telas: acima de 1200px
*/


@media screen and (min-width: 769px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section.login{
        width: 80vw;
    }

    section.login > div.imagem{
        background-position: top center;
        float: left;
        width: 30%;
        height: 100%;
    }

    section.login > div.formulario{
        float: right;
        width: 70%;
    }

    div.campo > input{
        background-color: #d5eff5;
        font-size: 1em;
        width: calc(100% - 39px);
        height: 100%;
        transform: translateY(-5.2px);
        padding: 4px;
        margin: -4.9px;
    }
}


@media screen and (min-width: 993px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    
    section.login{
        width: 950px;
    }

    section.login > div.imagem{
        background-position: center center;
        float: right;
        width: 50%;
        height: 100%;
    }

    section.login > div.formulario{
        float: left;
        width: 50%;
    }

    div.formulario > h1{
        font-size: 2em;
    }

    div.formulario > p{
        font-size: 1em;
    }

    div.campo > input{
        background-color: #d5eff5;
        font-size: 1em;
        width: calc(100% - 39px);
        height: 100%;
        transform: translateY(-5.2px);
        padding: 4px;
        margin: -4.9px;
    }
}